@import "../../../theme/form.scss";
@import "../../../theme/date-picker.scss";
@import "../../../theme/variables.scss";

.header-container {
  // border-bottom: 0.5px solid var(--common-text-white) !important;
  border-bottom: 1px solid var(--ion-color-border);
}

// ***** left side column/section ***** //

left-content {
  border-right: 0.5px solid var(--common-text-white) !important;
}

.notification-side-title {
  padding-left: 10px;
  padding-right: 5px;
  margin-top: 20px;
  background-color: var(--ion-color-secondary);
  margin-bottom: 19px;

  ion-list-header {
    font-family: "inter" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: var(--toolbar-header);
  }

  ion-note {
    color: #0f261f;
    font-size: 14px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
  }
}

.notification-button-container {
  text-align: center;
  padding: 0px 9px 0px 13px;

  ion-item {
    margin-top: 7px;
    justify-content: center;
    border-radius: 6px;
    color: #16392f;
    text-transform: none;
    height: 41px;
    --background: #ededed;
    border-radius: 6px;

    ion-label {
      font-size: 14px;
      padding-bottom: 6px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      // margin-left: -10px;
    }
  }

  ion-button {
    text-transform: none;
    color: #ededed;
  }
}

// ***** left side column ***** //

// centered-column

.centered-column {
  // margin: 9px 9px 9px 9px;
  background: var(--ion-color-background);

  .main-wrapper {
    // background: blue;

    .background-color-container {
      background-color: var(--ion-color-background);
    }

    ion-grid {
      // margin: 25px;
      margin: 9px;
      // padding: 35px 43px 43px 48px;
      padding: 24px 26px 24px 26px;
      background: var(--ion-color-secondary);

      ion-card {
        margin: 0px;
        padding: 6px 15px 30px 16px;

        // min-width: 1124px;
        min-height: 320px;
        text-align: center;
        // margin-right: 22px;
        // max-height: 413px;
        // overflow: scroll;
      }

      @media only screen and (max-width: 600px) {
        ion-card {
          margin: 0px;
          padding: 6px 15px 30px 16px;

          // min-width: 1124px;
          min-height: 320px;
          text-align: center;
          // margin-right: 22px;
          max-height: 413px;
          overflow: scroll;
        }
      }

      h1 {
        margin-top: 10px;
        font-family: "Inter" !important;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
      }
    }

    .content-wrapper {
      margin-top: 10px;

      ion-col {
        padding-bottom: 10px;
        padding-top: 10px;


        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          color: var(--ion-content-txt);
        }

        ion-note {
          // padding-bottom: 40px;
          color: #828ca2;
          font-style: normal;
          font-family: "Inter";
          font-weight: 500;
          font-size: 12px;
          line-height: 40px;
        }
      }
    }

    .icon-wrapper-container {

      div {
        width: 73px;
        height: 70px;
        // padding: 20px;
        margin: 15px 21px 18px 0px;
        border: 0.5px solid #494949;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        ion-icon {
          stroke: black !important;
          fill: black !important;
          font-size: 42px;
        }
      }

      .first-badge {
        display: flex;
        height: 30px;
        width: 30px;
        position: absolute;
        left: 57px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        --color: var(--ion-color-secondary);
        top: 0;
      }

      .second-badge {
        display: flex;
        height: 30px;
        width: 30px;
        position: absolute;
        left: 57px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        --color: var(--ion-color-secondary);
        top: 0;
      }

      .third-badge {
        display: flex;
        height: 30px;
        width: 30px;
        position: absolute;
        left: 57px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        --color: var(--ion-color-secondary);
        top: 0;
      }

      .fourth-badge {
        display: flex;
        height: 30px;
        width: 30px;
        position: absolute;
        left: 57px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        --color: var(--ion-color-secondary);
        top: 0;
      }
    }

    @media (max-width: 480px) {
      .icon-wrapper-container {

        div {
          width: 50px;
          height: 50px;
          border: 0.5px solid #494949;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          ion-icon {
            stroke: black !important;
            fill: black !important;
            font-size: 26px;
          }
        }

        .first-badge {
          display: flex;
          height: 20px;
          width: 20px;
          position: absolute;
          left: 42px;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          --color: var(--ion-color-secondary);
          top: 5px;
          font-size: 10px;
        }

        .second-badge {
          display: flex;
          height: 20px;
          width: 20px;
          position: absolute;
          left: 42px;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          --color: var(--ion-color-secondary);
          top: 5px;
          font-size: 10px;
        }

        .third-badge {
          display: flex;
          height: 20px;
          width: 20px;
          position: absolute;
          left: 42px;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          --color: var(--ion-color-secondary);
          top: 5px;
          font-size: 10px;
        }

        .fourth-badge {
          display: flex;
          height: 20px;
          width: 20px;
          position: absolute;
          left: 42px;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          --color: var(--ion-color-secondary);
          top: 5px;
          font-size: 10px;
        }
      }
    }

  }

  .reset-btn {
    border: 0.5px solid var(--ion-color-primary);
    border-radius: 5px;
    --background: transparent;
    --color: var(--ion-color-primary);
    font-weight: 400;
    width: 183px;
    height: 48px;
    --box-shadow: none;
    margin-top: 10px;
  }
}

.selectpreference {
  background: var(--user-segment-right-side) !important;
  border: 0.5px solid var(--ion-color-primary) !important;
  border-radius: 5px;
}

//right content
.right-content {
  background-color: var(--ion-color-background);
  padding: 9px 9px 9px 0px;

  .content-wrapper {
    // height: 241px;
    width: 273px;
    // justify-content: center;
    background-color: var(--ion-color-secondary);

    h1 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: var(--ion-content-txt);
      margin-top: 26px;
    }

    ion-col {
      display: flex;
      justify-content: center;

      .profile-wrapper {
        background-color: var(--ion-color-background);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;
        width: 130px;
        border-radius: 50%;
        margin-bottom: 25px;

        ion-img::part(image) {
          height: 40px;
          width: 40px;
          // border-radius: 50%;
        }
      }
    }

    .footer {
      background: #ededed;
      margin-top: 30px;
      display: flex;
      align-items: flex-end;

      ion-button {
        color: var(--ion-color-primary);
      }
    }

    // ion-img::part(image) {
    //   height: 110px;
    //   width: 110px;
    //   border-radius: 50% !important;
    //   margin-left: 6px;
    // }
  }
}


@media(max-width: 440px) {
  .title-content {
    padding: 0px 10px;

    h1 {
      font-size: 16px;
    }

    ion-icon {
      font: 16px;
    }
  }
}

.form-buttons-container {
  .form-button-success {
    border: 0.5px solid var(--ion-color-primary);
    color: var(--ion-color-secondary);
    height: 36px;
    border-radius: 3px;
    text-transform: none;
    font-family: "roboto";
    font-style: normal;
    float: left;
    cursor: pointer;
    background-color: var(--ion-color-primary);
    width: 90px;
    margin-left: 10px;
  }
}


.button-segment {

  ion-segment-button {
    --indicator-color: transparent;

  }

  .segment-button-group {
    border: 1px solid;
    background-color: white;
    height: 25px;
    width: 90px;
    border-radius: 18px;
    margin-right: 8px;
  }

  /* Material Design styles */
  ion-segment-button.md {
    --color: #000;
    --color-checked: var(--ion-color-tertiary-contrast);
    ;
    --border-radius: 20px;
    --indicator-height: 4px;
    --background-checked: #0F261F;
    font-size: 10px;
    min-height: 1px;
    min-width: 0;
    max-width: 72px;
    font-family: 'roboto';
    font-style: normal;
    border: 1px solid white;
    --background-hover: white;
  }

  /* iOS styles */
  ion-segment-button.ios {
    --color: #08a391;
    --color-checked: var(--ion-color-secondary);
    --border-radius: 20px;
  }
}

.dropdown-stacked.item-interactive-disabled {
  --background: #f9f9f9;
}

.textbox.item-interactive-disabled {
  --background: #f9f9f9;
}

.view-button {
  padding: 8px 10px;
  border-radius: 4px;
  font-weight: 500;
  border: 1.4px solid var(--ion-color-primary);
  ;
  color: var(--ion-color-primary);
  ;
  font-style: normal;
  background: var(--user-segment-right-side);
}

.tags-wrapper {
  margin-right: 10px;
}

.select-disabled,
.item-select-disabled ion-label {
  opacity: 1;
}

.textbox ion-label {
  transform: translateY(-10px) !important;
  background: white;
  width: max-content;
}



@media (max-width: 576px) {
  .ext_width {
    max-width: 34.8% !important;
  }

  .number_width {
    max-width: 64% !important;
  }
}

@media (min-width: 768px) {
  .ext_width {
    max-width: 18% !important;
  }

  .number_width {
    max-width: 32% !important;

    ion-item {
      padding: 0px 7px 0px 0px !important;
    }
  }
}

@media (min-width: 992px) {
  .ext_width {
    max-width: 11.2% !important;
  }

  .number_width {
    max-width: 22% !important;
    ;
  }
}

@media (min-width: 1024px) {
  .ext_width {
    max-width: 11.2% !important;
  }

  .number_width {
    max-width: 22% !important;
    ;
  }
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  background-color: transparent;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
  background-color: transparent;
  padding-left: 0px;
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  padding-left: 0px;
}

::ng-deep .mdc-line-ripple {
  border-bottom-color: transparent;
}

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-bottom-color: transparent !important;
}

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: transparent !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

::ng-deep .mat-datepicker-content .mat-calendar {
  width: 290px;
  height: auto !important;
}



@media (max-width: 480px) {
  .centered-column {
    min-width: calc(100%) !important;
  }
}

@media (min-width: 481px) and (max-width: 1000px) {
  .centered-column {
    min-width: calc(100%) !important;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .centered-column {
    min-width: calc(100% - 400px) !important;
  }
}

@media (max-width: 480px) {
  // .btn-slider {
  //   .ion-color-primary {
  //     border-radius: 3px;
  //     background: var(--ion-color-primary);
  //     --color: var(--ion-color-primary-contrast);
  //     --box-shadow: none;
  //     margin: 0;

  //     ion-label {
  //       min-width: 60px;
  //       font-size: 12px;
  //       padding: 0;
  //       color: var(--ion-color-secondary);
  //     }
  //   }

  // }
  .btn-slider {
    .ion-color-primary ion-label {
      min-width: 52px;
      font-size: 11px;
      padding: 0;
      color: var(--ion-color-secondary);
    }
  }

  .slider {
    ion-item {
      ion-label {
        font-size: 12px;
      }

      ion-input {
        font-size: 12px
      }

      ion-select {
        font-size: 12px;
      }
    }
  }

  .row-wrapper .title-column .title-content .back-icon {
    font-size: 23px;
    padding-right: 19px;
    position: absolute;
    top: 16px;
    right: -5px;
  }

  .view-notification {
    position: absolute;
    left: 23px;
    top: 11px;
  }
}


.forward-icon {
  position: absolute;
  right: -30px;
  top: 185px;
  font-size: 27px;
}

.backward-icon {
  position: absolute;
  z-index: 1;
  left: -27px;
  top: 185px;
  font-size: 27px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}