<ion-content>
  <app-config-navigation-comp activeMenu="USER_SEGMENT"></app-config-navigation-comp>
  <ion-grid class="padding-hide-md-down userSegment-grid-container" style="padding-inline-start: 0;">
    <ion-row>
      <ion-col
        style="padding: 0px 0px 16px 0px; background: white;border-right: 1px solid var(--ion-color-border);height: calc(100vh - 124px);max-width: 274px;"
        class="ion-hide-sm-down  ion-hide-lg-down">
        <div class="left-side-panel">
          <app-data-table-search-criteria #userSegment_search [defaultFilterCriteria]="defaultFilterCriteria"
            [filterFieldList]="filterFieldList" (applySearch)="applyFilter($event)"></app-data-table-search-criteria>
        </div>
      </ion-col>
      <ion-col style="    overflow-y: auto;" class="ion-no-padding ">
        <ion-row style="padding-inline-start: 24px;">
          <ion-col size-lg="6" offset-lg="6" size-md="12" offset-md="0" size-sm="12" offset-sm="0" size-xs="12"
            offset-xs="0" class=" ion-no-padding ion-margin">
            <div class="table-top-layer-btns">
              <ion-searchbar placeholder="Search" show-clear-button="focus" [(ngModel)]="userTableDetails.search"
                matInput (ionChange)="userSegmentGrid?.search()" #input class="ion-custom-search ion-no-padding ">
              </ion-searchbar>
              <ion-button routerLink="/configuration/user-segment/create" expand="block" routerLinkActive="active-link"
                class="ion-no-margin  ion-text-capitalize create-ion-button" color="tertiary">
                <ion-img slot="start" class="create-icon"
                  src="../../../assets/icons/{{notifiService.themeName}}/create-category.svg"></ion-img>
                <!-- <ion-icon name="create-outline"></ion-icon> -->
                <ion-label>Create UserSegment</ion-label>
              </ion-button>
            </div>
          </ion-col>
          <!-- Angular Material DATATABLE -->
          <ion-col size="12" class="ion-no-padding">
            <app-data-table *ngIf="isInitTriggered" #userSegment_grid
              [tableDetails]="userTableDetails"></app-data-table>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>