.highlight-selectall {
  position: sticky;
  top: 40px;
  z-index: 1;
  padding: 4px;

  ::ng-deep .mat-mdc-checkbox label {
    font-size: 13px;
    width: 100%;
    height: 100%;
    height: 42px;
    display: flex;
    align-items: center;
  }

  ::ng-deep .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
    border-color: var(--ion-color-header-txt);
  }

}

.selectall-checkbox {
  ::ng-deep .mat-mdc-checkbox label {
    color: var(--ion-dropdown-text-color) !important;
  }

}

::ng-deep .mat-mdc-checkbox .mdc-form-field {
  width: 100% !important;
}

::ng-deep .mat-mdc-checkbox.mat-accent {
  width: 100%;
}

.mat-form-container ::ng-deep.mdc-menu-surface.mat-mdc-select-panel {
  max-height: 386px !important;
}


::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--background);
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}