@import '../../theme/variables.scss';


* {
  font-size: 14px;
  font-family: 'Roboto-Medium';
  font-weight: 400;
  color: var(--ion-color-primary-text);
}

ion-content {
  .main-container {
    height: 100vh;

    .logo-container {
      // background: url('../../assets/login/web3Logo.png') no-repeat center/cover fixed;
      background: url('../../assets/login/logo.png') no-repeat center/cover fixed;

      ion-img {
        position: absolute;
        top: 40px;
        left: 58px;
      }
    }

    .right-side-container {
      display: flex;
      align-items: center;
      justify-content: center;


      .login-screen {
        width: 531px;

        form {
          width: 100%;

          ion-col {
            padding: 0;
            display: inline-table;

            ion-item {
              --border-color: #D9D9D9;
              margin-top: 8px;
              margin-bottom: 16px;

              &::part(native) {
                border-radius: 10px;
              }
            }
          }

          ion-col:nth-child(1) {
            display: flex;

            ion-label {
              font-size: 24px;
              font-family: 'Roboto-Medium';
              font-weight: 500;
              word-wrap: break-word;
              margin-bottom: 64px;
            }
          }
        }
      }
    }
  }
}



.P-8 {
  padding-top: 8px;
}

.P-B-16 {
  padding-bottom: 16px !important;
}

.M-B-16 {
  margin-bottom: 16px !important;
}

.P-I-S {
  padding-inline-start: 10px !important;
}

.P-I-E {
  padding-inline-end: 10px !important;
}

.button-success {
  ion-button {
    margin: 0;
    --background: var(--login-btn-color);
    --border-radius: 10px;
    margin-bottom: 64px !important;

    ion-label {
      color: var(--input-txt-color);
      text-transform: capitalize;
      padding: 12px;
    }
  }
}

.button-failure {
  ion-button {
    margin: 0;
    --background: white;
    --border-radius: 10px;

    ion-label {
      color: var(--ion-color-primary-color);
      text-transform: capitalize;
      padding: 12px;
    }
  }
}
