.close-btn-icon {
    cursor: pointer;
}

.close-btn-modal {
    display: flex;
    cursor: pointer;
    justify-content: center;
}

.heading-title {
    color: black;
    font-family: "Inter";
    font-weight: bold;
    font-size: 20px;
}

.right-side-value {
    display: flex;
    justify-content: end;
}